.group24{
    width: 350px;
    height: 186px;
    left: 508px;
    top: 117px;
}
.group25{
    position: absolute;
    width: 350px;
    height: 186px;
    left: 888px;
    top: 117px;
}
.group26{
    position: absolute;
    width: 350px;
    height: 186px;
    left: 128px;
    top: 333px;
}
.group27{
    position: absolute;
    width: 350px;
    height: 186px;
    left: 5088px;
    top: 333px;
}
.group28{
    position: absolute;
    width: 350px;
    height: 186px;
    left: 888px;
    top: 333px;
}